{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'includes/navbar.html' %}

<!-- main-content -->
<section class="main-content">
    <div class="login">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-8 col-lg-6 col-xl-5">

                    {% include 'includes/alerts.html' %}

                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4 login-left">
                                        <h5 class="text-primary">Welcome Back !</h5>
                                        <p>Sign in to continue </p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">

                            <div class="p-2">
                                <form action="{% url 'user_login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" id="email" class="form-control"
                                            placeholder="Enter Your Email Address" name="email" required>
                                        <div class="text-danger mt-1"><span id="emailerror"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Password</label>
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Enter Your Password" name="password" required>
                                        <div class="text-danger mt-1"><span id="passerror"></span></div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" id="login" class="btn btn-success btn-block mt-3"> Login
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">

                        <div>
                            <p class="login-small-text">Don't have an account ? <a href="{% url 'user_register' %}"
                                    class="fw-medium text-primary">
                                    Signup now </a> </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}
