{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'includes/navbar.html' %}

<!-- main-content -->
<section class="main-content">
    <div class="login">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4 login-left">
                                        
                                        {% if msg %}
                                        <h5 class="msg text-primary">{{msg}}</h5>
                                        {% else %}
                                        <h5 class="text-primary">Welcome Back !</h5>
                                        {% endif %}
                                        <p>Sign in to continue </p>

                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">

                            <div class="p-2">
                                <form class="form-horizontal" action="{% url 'user_login' %}" method="post">

                                    <div class="mb-4">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" name="username" class="form-control" id="username"
                                            placeholder="Enter username" required>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label">Password</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" placeholder="Enter password"
                                                name="password" aria-label="Password" aria-describedby="password-addon"
                                                id="password-input" required>
                                            <button class="btn btn-light password-toggle-button" type="button" id="password-addon">
                                                <i class="bi bi-eye"></i></button>
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="remember-check">
                                        <label class="form-check-label" for="remember-check">
                                            Remember me
                                        </label>
                                    </div>

                                    <div class="mt-3 d-grid">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit"
                                            vlaue="login">Log
                                            In</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">

                        <div>
                            <p class="login-small-text">Don't have an account ? <a href="{% url 'user_register' %}"
                                    class="fw-medium text-primary">
                                    Signup now </a> </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}

{% block scripts %}
<script>
    // Toggle password visibility
    const passwordInput = document.getElementById('password-input');
    const passwordToggleButton = document.querySelector('.password-toggle-button');

    passwordToggleButton.addEventListener('click', function () {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordToggleButton.innerHTML = '<i class="bi bi-eye-slash"></i>';
        } else {
            passwordInput.type = 'password';
            passwordToggleButton.innerHTML = '<i class="bi bi-eye"></i>';
        }
    });
</script>
{% endblock scripts %}